# Logs
logs
*.log
npm-debug.log*

#Webstorm
.idea

 # Dependency directories
node_modules/

 # Typescript v1 declaration files
typings/
 # Optional npm cache directory
.npm

 #package-lock.json
package-lock.json